doctype html
html
	head
		title Мафия 2.0
		script(src='/socket.io/socket.io.js')
		script(src='/js/all.js')
		link(rel='stylesheet', href='/css/all.css')
	body(ng-app='webClient')
		.container-fluid
			.col-xs-12.col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
				block content