.panel.panel-default
	.panel-heading
		h1: center Mafia 2.0
	.panel-body
		span(ng-if='loading')
			include ../loading
		.row(ng-if='!loading')
			.col-xs-8.col-xs-offset-2
				form
					.form-group
						.input-group
							.input-group-addon Room ID
							input.form-control(type='number', min=1, ng-model='$parent.room_id')
					.form-group
						input.form-control(type='text', ng-model='$parent.nickname', placeholder='Nickname')
					.form-group
						button.btn.btn-success.form-control(type='submit', ng-click='joinRoom()') Join room
					b.text-danger(ng-show='error') {{error}}
							
					.form-group
						button.btn.btn-info.form-control#createRoomBtn(ng-click='createRoom()') Create room