span(ng-if='loading')
	include ../loading
.panel.panel-info(ng-if='!loading')
	.panel-heading
		h3 Room&#35;{{roomid}}
			.pull-right: button.btn.btn-default(ng-click='leaveRoom()') Leave room
	table.table.table-bordered.table-responsive.table-hover
		tr
			th.success Players list
		tr(ng-repeat='player in players track by $index')
			td {{player.nickname}}